##
# (c) 2024 - Cloud Ops Works LLC - https://cloudops.works/
#            On GitHub: https://github.com/cloudopsworks
#            Distributed Under Apache v2.0 License
#
draft.toml
charts/
NOTICE
LICENSE
README.md
OWNERS
OWNERS_ALIASES
jenkins-x*.*
skaffold.*
.helmignore
.git*
gulpfile.js
sonar-project.properties
# CloudOpsWorks Tronador
tronador/
.tronador
/Makefile
# Generated Dockerfile and Image
Dockerfile
docker-image.tar*
