##
# (c) 2024 - Cloud Ops Works LLC - https://cloudops.works/
#            On GitHub: https://github.com/cloudopsworks
#            Distributed Under Apache v2.0 License
#
name: Continuous deployment to target environment

on:
  workflow_call:
    inputs:
      is_release:
        type: boolean
        required: true
      release_version:
        required: true
        type: string
      release_name:
        required: false
        type: string
      environment:
        required: true
        type: string
      package_name:
        required: false
        type: string
        default: ''
      package_type:
        required: false
        type: string
        default: ''
      deployment_name:
        required: true
        type: string
      target_cloud:
        required: true
        type: string
      target_cloud_type:
        required: true
        type: string
      runner_set:
        required: true
        type: string
      DOCKER_REGISTRY_ADDRESS:
        required: false
        type: string
      HELM_REGISTRY_ADDRESS:
        required: false
        type: string
      BOT_USER:
        required: true
        type: string
      BOT_EMAIL:
        required: true
        type: string
      AWS_REGION:
        required: false
        type: string
        default: ''
      STS_ROLE_ARN:
        required: false
        type: string
        default: ''
      AZURE_RG:
        required: false
        type: string
        default: ''
      download_artifacts:
        required: false
        type: string
        default: ''
      source_artifacts:
        required: false
        type: string
        default: ''
    secrets:
      token:
        required: true
      AWS_ACCESS_KEY_ID:
        required: false
      AWS_SECRET_ACCESS_KEY:
        required: false
      AZURE_SERVICE_ID:
        required: false
      AZURE_SERVICE_SECRET:
        required: false

jobs:
  deploy-aws-eb-standard:
    uses: ./.github/workflows/terragrunt-aws.yml
    if: ${{ ! inputs.is_release }}
    with:
      release_version: ${{ inputs.release_version }}
      release_name: ${{ inputs.release_name }}
      environment: ${{ inputs.environment }}
      package_name: ${{ inputs.package_name }}
      package_type: ${{ inputs.package_type }}
      deployment_name: ${{ inputs.deployment_name }}
      target_cloud: 'aws'
      target_cloud_type: 'beanstalk'
      runner_set: ${{ inputs.runner_set }}
      DOCKER_REGISTRY_ADDRESS: ${{ inputs.DOCKER_REGISTRY_ADDRESS }}
      HELM_REGISTRY_ADDRESS: ${{ inputs.HELM_REGISTRY_ADDRESS }}
      BOT_USER: ${{ inputs.BOT_USER }}
      BOT_EMAIL: ${{ inputs.BOT_EMAIL }}
      AWS_REGION: ${{ inputs.AWS_REGION }}
      STS_ROLE_ARN: ${{ inputs.STS_ROLE_ARN }}
      download_artifacts: ${{ inputs.download_artifacts }}
    secrets: inherit

  deploy-aws-eb-green:
    uses: ./.github/workflows/terragrunt-aws.yml
    if: ${{ inputs.is_release }}
    with:
      qualifier: 'green'
      release_version: ${{ inputs.release_version }}
      release_name: ${{ inputs.release_name }}
      environment: ${{ inputs.environment }}
      package_name: ${{ inputs.package_name }}
      package_type: ${{ inputs.package_type }}
      deployment_name: ${{ inputs.deployment_name }}
      target_cloud: 'aws'
      target_cloud_type: 'beanstalk'
      runner_set: ${{ inputs.runner_set }}
      DOCKER_REGISTRY_ADDRESS: ${{ inputs.DOCKER_REGISTRY_ADDRESS }}
      HELM_REGISTRY_ADDRESS: ${{ inputs.HELM_REGISTRY_ADDRESS }}
      BOT_USER: ${{ inputs.BOT_USER }}
      BOT_EMAIL: ${{ inputs.BOT_EMAIL }}
      AWS_REGION: ${{ inputs.AWS_REGION }}
      STS_ROLE_ARN: ${{ inputs.STS_ROLE_ARN }}
      download_artifacts: ${{ inputs.download_artifacts }}
    secrets: inherit

  deploy-aws-eb-blue:
    needs:
      - deploy-aws-eb-green
    uses: ./.github/workflows/terragrunt-aws.yml
    if: ${{ inputs.is_release }}
    with:
      release_version: ${{ inputs.release_version }}
      release_name: ${{ inputs.release_name }}
      environment: ${{ inputs.environment }}
      package_name: ${{ inputs.package_name }}
      package_type: ${{ inputs.package_type }}
      deployment_name: ${{ inputs.deployment_name }}
      target_cloud: 'aws'
      target_cloud_type: 'beanstalk'
      runner_set: ${{ inputs.runner_set }}
      DOCKER_REGISTRY_ADDRESS: ${{ inputs.DOCKER_REGISTRY_ADDRESS }}
      HELM_REGISTRY_ADDRESS: ${{ inputs.HELM_REGISTRY_ADDRESS }}
      BOT_USER: ${{ inputs.BOT_USER }}
      BOT_EMAIL: ${{ inputs.BOT_EMAIL }}
      AWS_REGION: ${{ inputs.AWS_REGION }}
      STS_ROLE_ARN: ${{ inputs.STS_ROLE_ARN }}
      download_artifacts: ${{ inputs.download_artifacts }}
    secrets: inherit

  destroy-aws-eb-green:
    needs:
      - deploy-aws-eb-green
      - deploy-aws-eb-blue
    uses: ./.github/workflows/terragrunt-aws.yml
    if: ${{ inputs.is_release }}
    with:
      destroy: true
      qualifier: 'green'
      release_version: ${{ inputs.release_version }}
      release_name: ${{ inputs.release_name }}_green
      environment: ${{ inputs.environment }}
      package_name: ${{ inputs.package_name }}
      package_type: ${{ inputs.package_type }}
      deployment_name: ${{ inputs.deployment_name }}_green
      target_cloud: 'aws'
      target_cloud_type: 'beanstalk'
      runner_set: ${{ inputs.runner_set }}
      DOCKER_REGISTRY_ADDRESS: ${{ inputs.DOCKER_REGISTRY_ADDRESS }}
      HELM_REGISTRY_ADDRESS: ${{ inputs.HELM_REGISTRY_ADDRESS }}
      BOT_USER: ${{ inputs.BOT_USER }}
      BOT_EMAIL: ${{ inputs.BOT_EMAIL }}
      AWS_REGION: ${{ inputs.AWS_REGION }}
      STS_ROLE_ARN: ${{ inputs.STS_ROLE_ARN }}
      download_artifacts: ${{ inputs.download_artifacts }}
    secrets: inherit
